{% extends 'base.html.twig' %}

{% block title %}Blague index
{% endblock %}

{% block body %}
	<h1>Blague index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Catégories</th>
				<th>Text</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for blague in blagues %}
				<tr>
					<td>{{ blague.categorie }}</td>
					<td>{{ blague.text }}</td>
					<td>
						<a href="{{ path('app_blague_show', {'id': blague.id}) }}">show</a>
						<a href="{{ path('app_blague_edit', {'id': blague.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_blague_new') }}">Create new</a>
{% endblock %}
